html,
body {
    height: 100%;
    margin: 0;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url("../images/sign_bg.png");
    background-size: 100% 100%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    font-size: 1rem;
    color:#fff;
    text-align: center;
    background: url("../images/nav.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main-wrapper {
    overflow: auto;
    padding-top: .5rem;
    flex: 1;
}
.schedule-date {
    height: 2.5rem;
    width: 95%;
    margin: 0 auto;
    font-size: .8rem;
    color:#f04b12;
}
.date {
    width: 48%;
    height: 100%;
    background-color:#ffedc9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.date.left {
    float: left;
}
.date.right {
    float: right;
}
.date.active {
    color: #fff;
    background: url("../images/bg_active.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.schedule-list {
    width: 95%;
    margin: 0 auto;
}
.schedule-title {
    height: 1.5rem;
    line-height: 1.5rem;
    border-bottom:1px solid #f04b12;
    color:#f04b12;
    font-size: .9rem;
    font-weight: normal;
    margin: 1% 0;
}
.user-info {
    border-radius: 15px;
    border:1px solid #F9A836;
    background-color:#FFEDC9;
    padding: 5px 30px;
    margin: 10px 0;
}
.user-title {
    font-size: .8rem;
    color: #E46E4F;
    margin: 5px 0;
}
.user-brief {
    font-size: .6rem;
    color: #393738;
    margin: 2px 0;
}
.hide {
    display: none;
}